/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25;
}

/* Set core body defaults */
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: geometricPrecision;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
}

@media only screen and (min-width: 1025px) {
  html {
    scroll-behavior: auto;
  }
}

/* Set Sections to take all width available */
section {
  width: 100%;
}

/* Make HR easier to work with */
hr {
  display: block;
  margin: rem(16) 0;
  padding: 0;
  border: 0;
  border-top: 1px solid #ccc;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Inherit fonts for inputs and buttons */

button,
select {
  font: inherit;
  cursor: pointer;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
li,
a,
input,
textarea,
label,
select,
option,
form,
div,
img,
ul,
ol,
table,
td,
tr,
th,
nav,
footer,
header,
section,
article,
aside,
main,
body,
code,
html {
  font-family: "merel", "Roboto", sans-serif;
  color: #364659;
}

h1,
.title-1 {
  font-size: 30px;
  font-weight: 700;
}

h2,
.title-2 {
  font-size: 28px;
  font-weight: 900;
}

h3,
.title-3 {
  font-size: 24px;
  font-weight: 900;
}

h4,
.title-4 {
  font-size: 20px;
  font-weight: 700;
}

h5,
.title-5 {
  font-size: 18px;
  font-weight: 700;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
}

code {
  font-size: 14px;
  background-color: #fcecda;
  padding: 0.2em 0.65em;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
}

.note {
  font-size: 14px;
  font-weight: 400;
  color: #364659;
}

/* media queries for desktop */

@media only screen and (min-width: 1024px) {
  h1,
  .title-1 {
    font-size: 40px;
  }

  h2,
  .title-2 {
    font-size: 42px;
  }

  h3,
  .title-3 {
    font-size: 32px;
  }

  h4,
  .title-4 {
    font-size: 28px;
  }

  h5,
  .title-5 {
    font-size: 24px;
  }

  p {
    font-size: 20px;
  }

  code {
    font-size: 20px;
  }

  .note {
    font-size: 18px;
  }

  input,
  text-area,
  input::placeholder,
  textarea::placeholder {
    font-size: 20px;
  }

  .subtitle {
    font-size: 22px;
  }
}

/* tailwind ignoring fixed position, styling manually */
#wallet-status-msg{
  position: fixed;
  bottom: 0;
  left: 0;

  height: fit-content;
  padding-block: 2.5%;
}
#profile-dropdown{
  width: 15rem;
  border: 1px solid black;

  padding: 0;

  transition: 250ms ease-out;
}

#composable-tooltip {
  position: relative;
  visibility: hidden;
  opacity: 0%;
  transition: 250ms;

  bottom: -100%;
  max-width: 50vw;
  width: 25vw;
  padding: 10px;

}
#composable-icon:hover #composable-tooltip {
  visibility: visible;
  opacity: 100%;
}
#edit-composable-tooltip {
  position: relative;
  visibility: hidden;
  opacity: 0%;
  transition: 250ms;

  bottom: -100%;
  max-width: 50vw;
  width: 25vw;
  padding: 10px;

}
#edit-composable-icon:hover #edit-composable-tooltip {
  visibility: visible;
  opacity: 100%;
}
#timestamp-tooltip {
  position: absolute;
  visibility: hidden;
  opacity: 0%;
  transition: 250ms;

  bottom: 92%;
  max-width: 50vw;
  width: 25vw;
  overflow: visible;

  padding: 10px;
}
#timestamp-title:hover ~ #timestamp-tooltip {
  visibility: visible;
  opacity: 100%;
}

@media (orientation:portrait) {
  #edit-composable-tooltip{
    width: 50vw;
  }
  #composable-tooltip{
    width: 50vw;
  }
  #timestamp-tooltip{
    width: 50vw;
  }

}
