/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

.otgs-development-site-front-end {
  display: none !important;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25;
}

/* Set core body defaults */
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: geometricPrecision;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
}

@media only screen and (min-width: 1025px) {
  html {
    scroll-behavior: auto;
  }
}

/* Set Sections to take all width available */
section {
  width: 100%;
}

/* Make HR easier to work with */
hr {
  display: block;
  margin: rem(16) 0;
  padding: 0;
  border: 0;
  border-top: 1px solid #ccc;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */

button,
select {
  font: inherit;
  cursor: pointer;
}

/* button {
  background-color: #364659;
  border: 0px;
  color: #fffcf9;
  border-radius: 50px;
  padding: 0.75em 1.5em;
  font-size: 14px;
} */

button.add {
  font-size: 14px;
}

/* a {
  text-decoration: none;
  opacity: 1;
  font-weight: bold;
  cursor: pointer !important;
  transition: opacity 0.3s ease-in-out;
}
 */
/* section > div,
.container {
  padding: 1em;
} */

/* a:hover {
  opacity: 0.5;
}
 */
/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
li,
a,
input,
textarea,
label,
select,
option,
form,
div,
img,
ul,
ol,
table,
td,
tr,
th,
nav,
footer,
header,
section,
article,
aside,
main,
body,
code,
html {
  font-family: "merel", "Roboto", sans-serif;
  color: #364659;
}

h1,
.title-1 {
  font-size: 30px;
  font-weight: 700;
}

h2,
.title-2 {
  font-size: 28px;
  font-weight: 900;
}

h3,
.title-3 {
  font-size: 24px;
  font-weight: 900;
}

h4,
.title-4 {
  font-size: 20px;
  font-weight: 700;
}

h5,
.title-5 {
  font-size: 18px;
  font-weight: 700;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
}

code {
  font-size: 14px;
  background-color: #fcecda;
  padding: 0.2em 0.65em;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
}

.note {
  font-size: 14px;
  font-weight: 400;
  color: #364659;
}

/* input {
  border-radius: 5px;
  border: 1px solid #364659;
  padding: 0.75em 1.5em;
  font-size: 14px;
}
input::placeholder {
  color: #364659;
  opacity: 0.5;
  font-size: 14px;
} */

/* media queries for desktop */

@media only screen and (min-width: 1024px) {
  h1,
  .title-1 {
    font-size: 40px;
  }

  h2,
  .title-2 {
    font-size: 42px;
  }

  h3,
  .title-3 {
    font-size: 32px;
  }

  h4,
  .title-4 {
    font-size: 28px;
  }

  h5,
  .title-5 {
    font-size: 24px;
  }

  p {
    font-size: 20px;
  }

  code {
    font-size: 20px;
  }

  .note {
    font-size: 18px;
  }

  input,
  text-area,
  input::placeholder,
  textarea::placeholder {
    font-size: 20px;
  }

  /* input {
    font-size: 16px;
  } */
}
